<?xml version="1.0" encoding="UTF-8"?>
<config test="123">
<!-- 数据库连接信息 -->
    <connurl>
        Driver={oracle};server=localhost;uid=jfids;pwd=jfids;database=orcl
    </connurl>
    <source type="dirExcel" />
    
    <!-- 以前为js代码 -->
    <code> 
        <![CDATA[
            
            ]]>
    </code>
    <steps>
        <step startIndex="1" finishIndex="last" onException="out" sheet="0">
            <sql name="demo_table">
                 <![CDATA[
                    id=$C{stepIndex,0}#
                    name=$C{stepIndex,1}#
                    age=$C{stepIndex,2}#
                 ]]>
            </sql>
        </step>
    </steps>
</config>
